In [12]:
import pandas as pd
from itertools import combinations

In [1]:
items = [
    "Hot Dogs",
    "Buns",
    "Ketchup",
    "Chips",
    "Coke",
]

In [2]:
transactions = [
    ["Hot Dogs", "Buns", "Ketchup"],
    ["Hot Dogs", "Buns"],
    ["Hot Dogs", "Coke", "Chips"],
    ["Chips", "Coke"],
    ["Chips", "Ketchup"],
    ["Hot Dogs", "Coke", "Chips"]
]

In [3]:
support_threshold = 0.33
confidence_threshold = 0.6

In [6]:
# Apriori

C1 = {}

for transaction in transactions:
    for item in transaction:
        if item in C1:
            C1[item] += 1
        else:
            C1[item] = 1

L1 = {}

for item in C1:
    if C1[item] >= support_threshold * len(transactions):
        L1[item] = C1[item]

df = pd.DataFrame(columns=["Itemset", "Support"], data=[[item, L1[item]] for item in L1])
df

    Itemset  Support
0  Hot Dogs        4
1      Buns        2
2   Ketchup        2
3      Coke        3
4     Chips        4

In [17]:
C2 = {}

for itemset in combinations(L1, 2):
    C2[itemset] = 0



for transaction in transactions:
    for itemset in C2:
        if set(itemset).issubset(transaction):
            C2[itemset] += 1
        
L2 = {}

for itemset in C2:
    if C2[itemset] >= support_threshold * len(transactions):
        L2[itemset] = C2[itemset]

df = pd.DataFrame(columns=["Itemset", "Support"], data=[[item, L2[item]] for item in L2])
df

             Itemset  Support
0   (Hot Dogs, Buns)        2
1   (Hot Dogs, Coke)        2
2  (Hot Dogs, Chips)        2
3      (Coke, Chips)        3

In [22]:
C3 = {}

for itemset in combinations(L2, 2):
    new_itemset = set(itemset[0]).union(set(itemset[1]))
    if len(new_itemset) == 3:
        C3[tuple(new_itemset)] = 0

for transaction in transactions:
    for itemset in C3:
        if set(itemset).issubset(transaction):
            C3[itemset] += 1

L3 = {}

for itemset in C3:
    if C3[itemset] >= support_threshold * len(transactions):
        L3[itemset] = C3[itemset]

df = pd.DataFrame(columns=["Itemset", "Support"], data=[[item, L3[item]] for item in L3])
df

                   Itemset  Support
0  (Coke, Chips, Hot Dogs)        2

In [47]:
# Crete association rules
association_rules = []

itemsets = { **L2, **L3 }
all_itemsets = {
    **L1,
    **L2,
    **L3
}

In [48]:
from mlxtend.frequent_patterns import apriori, association_rules

ModuleNotFoundError: No module named 'mlxtend'

In [57]:
# Construct ordered frequent itemsets FPGrow
frequent = {}

for transaction in transactions:
    for item in transaction:
        if item in frequent:
            frequent[item] += 1
        else:
            frequent[item] = 1

# Sort frequent itemsets if same frequency by alphabetical order
frequent = {k: v for k, v in sorted(frequent.items(), key=lambda item: (-item[1], item[0]))}

sorted_transactions = []

for transaction in transactions:
    sorted_transactions.append(sorted(transaction, key=lambda item: (-frequent[item], item)))

df = pd.DataFrame(columns=["Transaction", "Sorted Transaction"], data=[[transaction, sorted_transactions[i]] for i, transaction in enumerate(transactions)])
frequent

{'Chips': 4, 'Hot Dogs': 4, 'Coke': 3, 'Buns': 2, 'Ketchup': 2}